<h4 *ngIf="!allowEdit">Нет прав на редактирование!</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name">Server Name</label>
    <input
      [(ngModel)]="serverName"
      class="form-control"
      id="name"
      type="text">
  </div>
  <div class="form-group">
    <label for="status">Server Status</label>
    <select
      [(ngModel)]="serverStatus"
      class="form-control"
      id="status">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
  </div>
  <button
    (click)="onUpdateServer()"
    class="btn btn-primary">Update Server
  </button>
</div>
